.app-header {
    display: grid;
    grid-template-areas:
        'counter counter toggle'
        'clear settings ask'
    ;
    gap: 10px;
    padding: 10px;
}

.app-header > div {
    text-align: center;
    font-size: 30px;
  }

.counter {
    grid-area: counter;
}

.toggle {
    grid-area: toggle;
}

.clear {
    grid-area: clear;
}

.settings {
    grid-area: settings;
}

.ask {
    grid-area: ask;
}